@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
  width: 36px;
  background-color: #120e0e;
}
a.active {
  color: #120e0e;
  font-weight: 600;
}

.bg-col {
  /* background-color: #F6F1EC; */
  background-color: #f6f1ec;
}

.text-col {
  color: #120e0e;
}

.text-gold {
  color: #fb8911;
}

.bg-gold {
  background-color: #fb8911;
}
